html {
  scroll-behavior: smooth;
  height: 100%;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../font/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../font/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Thin";
  src: url("../font/Poppins-Thin.ttf");
}
